<form [formGroup]="formationForm">
  <div class="bg-indigo-50 min-h-screen md:px-20 pt-14">
    <div class="bg-white rounded-md px-6 py-10 max-w-2xl mx-auto">
      <h1 class="text-center text-2xl font-bold text-gray-500 mb-10">
        Add Training
      </h1>
      <div class="space-y-4">
        <div>
          <label for="title" class="text-lx font-serif">Title:</label>
          <input
            type="text"
            placeholder="title"
            class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md"
            formControlName="titre"
            required
            />
        </div>

        <div>
          <label for="duree" class="text-lx font-serif">Durée:</label>
          <input
            type="text"
            placeholder="Duree"
            formControlName="duree"
            class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md"
          />
        </div>
        <div>
          <label for="theme" class="text-lx font-serif">Theme:</label>
          <input
            type="text"
            placeholder="theme"
            formControlName="theme"
            class="ml-2 outline-none py-1 px-2 text-md border-2 rounded-md"
          />
        </div>

        <!--courses-->
        <ng-select  
          bindLabel="course"
          placeholder="Select an attachment Course"
          [searchable]="true"
          formControlName="courses"
          [virtualScroll]="true"
          [multiple]="true"
          required
        >
          <ng-option
            [value]="course"
            [disabled]=""
            *ngFor="let course of coursesList"
          >
            <div class="flex flex-row w-full px-3 py-2 shadow-md">
              <span class="w-full px-2 py-2 font-mono">
                {{ course?.title }}</span
              >
              <span class="w-full px-2 py-2 font-mono">
                {{ course?.category }}</span
              >
            </div>
          </ng-option>
        </ng-select>
        <mat-error
          *ngIf="formationForm.controls['courses'].hasError('required')"
        >
          Courses Required
        </mat-error>

           <!--Coaches-->
           <ng-select 
           bindLabel="coach"
           placeholder="Select a Coach for this Training"
           [searchable]="true"
           formControlName="coach"
           [virtualScroll]="true"
           required
         >
           <ng-option
             [value]="coach"
             [disabled]=""
             *ngFor="let coach of coachList"
           >
             <div class="flex flex-row w-full px-3 py-2 shadow-md">
               <span class="w-full px-2 py-2 font-mono">
                 {{ coach?.fullName }}</span
               >
               <span class="w-full px-2 py-2 font-mono">
                {{ coach?.speciality }}</span
              >
             </div>
           </ng-option>
         </ng-select>
         <mat-error
           *ngIf="formationForm.controls['coach'].hasError('required')"
         >
           Coach Required
         </mat-error>

        <br>
      </div>
    </div>
  </div>
</form>

<div class="flex flex-row">
  <button
  class="px-6 py-2 mx-auto block rounded-md text-lg font-semibold text-indigo-100 bg-red-700"
 (click)="cancel()">
  Cancel
</button>
 
  <button
    class="px-6 py-2 mx-auto block rounded-md text-lg font-semibold text-indigo-100 bg-indigo-600"
   (click)="postFormation()">
    SAVE
  </button>
</div>