<div class="flex items-center justify-center">
  <div class="p-10 font-bold text-white border rounded-lg shadow-lg ">

    <form [formGroup]="coachForm" novalidate>
      <mat-card class="coach-card">
        <mat-card-header>
          <mat-card-title>New Coach</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex flex-wrap items-center justify-center xl:justify-center lg:justify-between g-6">
            <!-- first -->
            <div class="mb-12 grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 md:mb-0">
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Full Name" formControlName="fullName">
                    <mat-error *ngIf="coachForm.controls['fullName'].hasError('required')">
                      Full Name <strong>is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="coachForm.controls['email'].hasError('required')">
                      Email <strong>is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Speciality</mat-label>
                    <mat-select formControlName="speciality">
                      <mat-option *ngFor="let dType of coachSpeciality" [value]="dType.value">
                        {{dType.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="coachForm.controls['speciality'].hasError('required')">
                      Speciality <strong>is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Phone" formControlName="phone">
                    <mat-error *ngIf="coachForm.controls['phone'].hasError('required')">
                      Phone <strong>is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>


            <!-- second -->
            <div class="mb-12 xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 md:mb-0">
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Address" formControlName="address">
                    <mat-error *ngIf="coachForm.controls['address'].hasError('required')">
                      Address <strong>is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="City" formControlName="city">
                    <mat-error *ngIf="coachForm.controls['city'].hasError('required')">
                      City <strong>is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Country" formControlName="country">
                    <mat-error *ngIf="coachForm.controls['country'].hasError('required')">
                      Country <strong>is required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="observations" formControlName="observations"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="flex flex-row w-full ">
          <button mat-raised-button [routerLink]="['/admin/coaches']">Cancel</button>
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!coachForm.valid">Save</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>