<section class="h-screen">
    <div class="h-full px-6 text-gray-800">
        <div class="flex flex-wrap items-center justify-center h-full xl:justify-center lg:justify-between g-6">
            <div class="mb-12 xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 md:mb-0">
                <form [formGroup]="courseForm" novalidate>
                    <mat-card class="course-card">
                        <mat-card-header>
                            <mat-card-title>Update Course</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Title" formControlName="title">
                                        <mat-error *ngIf="courseForm.controls['title'].hasError('required')">
                                            Course's Title <strong>is required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Description" formControlName="description">
                                        <mat-error *ngIf="courseForm.controls['description'].hasError('required')">
                                            Course's description <strong>is required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Author" formControlName="author">
                                        <mat-error *ngIf="courseForm.controls['author'].hasError('required')">
                                            Course's author <strong>is required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <ng-container matColumnDef="cover" >
                                <mat-card>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cover</th>
                                <td mat-cell *matCellDef="let row">
                                  <img [src]="getFullUrlPhoto(row.photoUrl)" class="photo" mat-card-sm-image class="border-0 rounded-md shadow-2xl">
                                </td>
                              </mat-card>
                              </ng-container>

                            
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <mat-label>Category</mat-label>
                                        <mat-select formControlName="category">
                                            <mat-option *ngFor="let category of courseCategory" [value]="category.value"
                                            selected="category.value === ngSelect">
                                            {{category.viewValue}}
                                        </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="courseForm.controls['category'].hasError('required')">
                                            course's Category<strong>is required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                   
                    
                </mat-card-content>
                        <mat-card-actions class="flex flex-row w-full ">
                            <button mat-raised-button [routerLink]="['/admin/courses']">Cancel</button>
                            <button mat-raised-button color="primary" (click)="onSubmit()">Update</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
                <!--  End of form-->
            </div>
            
            <div class="mb-12 grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 md:mb-0">
                <img [src]="getPhotoUrl(currentPhotoUrl)" class="w-full" alt="Sample image" />
            </div>
        </div>
    </div>
</section>