<form [formGroup]="loginForm" novalidate>
  <mat-card class="card">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center"> 
      <img class="beauty" src="./assets/beauty_center.png" fxFlexAlign="center">
      <mat-card-title fxFlexAlign="center">Connection</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="email" formControlName="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Email est <strong>obligatoire</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.value.email.invalid || loginForm.hasError">
              {{getErrorMessage()}}
            </mat-error>
            <mat-icon matPrefix class="px-6">email</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput 
                   placeholder="Mot de Passe" 
                   formControlName="password"
                   [type]="hide ? 'text' : 'password' "
                   required
                   >
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Mot de passe est <strong>obligatoire</strong>
            </mat-error>
            <mat-icon matPrefix class="px-6">lock</mat-icon>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility': 'visibility_off'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button 
              color="accent" 
              [disabled]="!loginForm.valid" 
              (click)="onSubmit()">Connecter</button>
    </mat-card-actions>
  </mat-card>
</form>
